
.header {
  grid-area: header;
  background-color: khaki;
}


.headerItem{
  display: grid;
  grid-template-areas:
  'logo  linksFirst links';
  grid-template-rows: 1fr;
  grid-template-columns: 5% 10% 80%;

}

.logo{
  grid-area: logo;
}



.headerLinks{
  grid-area: links;
  margin-top: 20px

}

.inlineWrapper  {
  display: inline;
  margin: 30px;
  font-size: 20px;

}